
@{
    ViewBag.Title = "Index";
}

<div ng-app="App" ng-controller="AppController">

    <h1>record:</h1>
    <div ng-repeat="field in record">
        <p>{{field.FirstName}}</p>
        <p>{{field.LastName}}</p>

    </div>
</div>


